
@{
    ViewData["Title"] = "Upload Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form enctype="multipart/form-data" method="post">
        <dl>
            <dd>
                <input name="formfile" type="file">
            </dd>
        </dl>
        <input class="btn btn-primary" type="submit" value="Upload" />
    </form>
</body>
</html>
